Sprint[[:space:]]7/Desafio/Filmes+e+Series/series.csv filter=lfs diff=lfs merge=lfs -text
Sprint[[:space:]]7/Desafio/Filmes+e+Series/movies.csv filter=lfs diff=lfs merge=lfs -text
Sprint[[:space:]]8/Exercicios/Tarefa[[:space:]]3/nomes_aleatorios.txt filter=lfs diff=lfs merge=lfs -text
